.contenedorCardDetail{
    width: 1360px;
    height: 620px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 17rem;
    .imagenCardDetail{
        width: 800px;
        height: 565px;
        padding-bottom: 1rem;
    }
    .precioCardDetail{
        font-size: 20px;
    }
    .precioDescDetail{
        font-size: 12px;
        font:bold;
    }
}