.contenedorCardDetail{
    width: 1360px;
    height: 620px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 17rem;
    .imagenCardDetail{
        width: 800px;
        height: 565px;
        padding-bottom: 1rem;
    }
    .precioCardDetail{
        font-size: 20px;
    }
    .precioDescDetail{
        font-size: 12px;
        font:bold;
    }
    .msjOnAdd{
        text-decoration: none;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: medium;
        font-weight: bold;
        font-family: 'Niveau Grotesk', monospace ;
        border: none;
        color: black;
        display: flex;
        justify-content: center;
    }
    .divFinalizarCompra{
        margin-top: 1rem;
        text-decoration: none;
        .btnFinalizarCompra{
            padding: 0.5rem;
            background-color: white;
            border: 1px solid black;
            font-family: 'Niveau Grotesk', monospace ;
        }
        .btnFinalizarCompra:hover{
            font-family: 'Niveau Grotesk', monospace ;
            transition: 0.5s;
            border: 1px solid black;
            background-color: rgb(59, 141, 59);
        }
    }
}